@font-face {
    font-family: "Expert-Sans-Regular";
    src: url("../fonts/expert-sans/font-eot/expertsans-regular-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-regular-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-regular-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-regular-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Expert-Sans-Regular-Italic";
    src: url("../fonts/expert-sans/font-eot/expertsans-regularitalic-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-regularitalic-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-regularitalic-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-regularitalic-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Expert-Sans-Light";
    src: url("../fonts/expert-sans/font-eot/expertsans-light-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-light-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-light-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-light-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Expert-Sans-Light-Italic";
    src: url("../fonts/expert-sans/font-eot/expertsans-lightitalic-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-lightitalic-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-lightitalic-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-lightitalic-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Import Bootstrap Compass integration
@import "bootstrap-compass";
@import "compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";




// Custom CSS

body{
	background-color: #f4f4f4;
}

.bg-primary{
	background-color: $brand-primary;
}

.bg-secondary{
	background-color: $brand-secondary;
}

.feather-icon{
	color: $brand-primary;
}

.feather-icon-inverse{
	color: white;
}

.icon-power{
	font-size: 1.3em;
}

%shadow{
	box-shadow: 0 0 6px 0px rgba(0,0,0,.25);
}

%sprite {
	background-repeat: no-repeat;
	background-image: url('../images/barclays-sprites-01.png');
}

.nav-icon{
	@extend %sprite;
	width: 50px;
	height: 40px;
}

.spotlight-text{
	margin-top: 0;
	margin-bottom: 30px;
	color: white;
	font-family: "Expert-Sans-Regular", sans-serif;
}


.fake-carousel{
	color: white;
	position: absolute;
	right: 40px;
	font-size: 20px;
}

.fave-icon{
	&.icon-1{
		background-position: 5px -204px;
		&:hover{
			background-position: -56px -204px;
		}
	}
	&.icon-4{
		background-position: 5px -353px;
		&:hover{
			background-position: -56px -353px;
		}
	}
	&.icon-5{
		background-position: 4px -403px;
		&:hover{
			//background-position: -57px -403px;
		}
	}
}

.read-more{
	margin-top: 20px;

}

.navbar-form{
	.top-search{
		background-color: rgba(white, 0.95);
		border: 1px solid $brand-primary;
		width: 300px;
		@include single-transition(background-color, 0.3s, ease);
		&:focus{
			background-color: rgba(white, 1);
		}
	}
}


.fave-divider{
	border-left: 1px solid $brand-primary;
}

.home-icon{
	background-position: 0 -106px;
	&:hover, .open &{
		//background-position: -61px -106px;
	}
}

.myapps-icon {
	background-position: 0 -58px;
	&:hover, .open &{
		//background-position: -61px -58px;
	}
}

.notifications-icon{
	background-position: 0 -8px;
	&:hover, .open &{
		//background-position: -61px -8px;
	}
}

.user-icon{
	background-position: 0 -156px;
	&:hover, .open &{
		//background-position: -61px -156px;
	}
}

.navbar-icon {
	padding-top: 7px !important;
	padding-bottom: 5px !important;
}

.apps-dropdown{
	width: 260px;
	li{
		padding: 5px 0 0 0;
		border: 1px solid transparent;
		height: 90px;
		@include transition(all, 0.3s, ease);
		&:hover{
			border: 1px solid $gray-lighter;
			border: 1px solid rgba($brand-primary, 0.3);
			background-color: $brand-primary-x-light;
			cursor: pointer;
			@include transition(all, 0.3s, ease);
		}
	}
}

.app-title{
	font-size: 12px;
}

.notifications-dropdown{
	width: 400px;
	.media{
		margin-top: 0;
		padding: 10px 10px 5px 5px;
		&:hover{
			@include transition(all, 0.2s);
			background: $brand-primary-x-light;
			cursor: pointer;
		}
	}
}

.rotate90{
	transform: rotate(90deg);
}

.time-aside{
	color: $gray-light;
	display: block;
	clear: both;
	span{
		color: $gray-darker;
	}
}

.navbar-dropdown {
	padding: 0;
	.row {
		margin: 0;
	}
}

.dropdown-container{
	padding: 15px;
}

.dropdown-more{
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 5px;
	display: block;
	font-size: 12px;
	cursor: pointer;
	color: $brand-primary;
	@include transition(all, 0.3s);
	&:hover{
		background: #eee;
	}
}

.dropdown-top-link{
	border-bottom: 1px solid #ddd;
	color: $gray-light;
	font-size: 14px;
	text-transform: none;
}

.dropdown-bottom-link {
	border-top: 1px solid #ddd;
}

.app-icons{
	@extend %sprite;
	width: 60px;
	height: 50px;
	display: block;
}

.apps-dropdown-unique.fave-divider{
	background-color: white;
}

.navbar-dropdown {
	margin-top: 5px !important;
}

.main-headers{
	color: black;
	font-family: "Expert-Sans-Regular", sans-serif;
	margin-top: 5px;
}

// Dropdown arrows

.navbar-dropdown:after, .navbar-dropdown:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.navbar-dropdown:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

.navbar-default{
	@extend %shadow;
	border-radius: 0;
	background-color: #00395d;
	border: 1px solid #00395d;
}

.apps-dropdown:after, .apps-dropdown:before{
	left: 85%;
}

.notifications-dropdown:after, .notifications-dropdown:before{
	left: 89.75%;
}

.user-dropdown:after, .user-dropdown:before{
	left: 75%;
}

.widget-dropdown:after, .widget-dropdown:before{
	left:-100%;
}

.widget-dropdown{
	margin-top: 0;
	box-shadow: none;
	border-radius: 0;
	background-color: #f5f5f5;
	min-width: 60px;
	padding: 0 0;
	> li {
		> a {
		padding: 5px 20px;
			&:hover{
				background-color: rgba($brand-danger, 0.2);
			}
		}
	}
}

.jumbotron-photobg{
	background-image:url("../images/three.jpg");
	@include background-size(cover);
	@extend %shadow;
	margin-bottom: 15px;
}

.white-hero{
	background: white;
	padding: 10px 30px;
	@include border-radius(4px)
}



.btn-link-action{
	&:hover{
		border: 1px solid $brand-secondary;
		@include border-radius(4px);
		text-decoration: none;
	}
}

.btn-search{
	background-color: #f0f0f0;
}

.icon-1{	background-position:8px -200px;  .quick-access &{ background-position: 0 -200px; }}
.icon-2{	background-position:8px -247px;  .quick-access &{ background-position: 0 -247px; }}
.icon-3{	background-position:8px -298px;  .quick-access &{ background-position: 0 -298px; }}
.icon-4{	background-position:8px -349px;  .quick-access &{ background-position: 0 -349px; }}
.icon-5{	background-position:8px -400px;  .quick-access &{ background-position: 0 -400px; }}
.icon-6{	background-position:8px -448px;  .quick-access &{ background-position: 0 -448px; }}
.icon-7{	background-position:8px -498px;  .quick-access &{ background-position: 0 -498px; }}
.icon-8{	background-position:8px -546px;  .quick-access &{ background-position: 0 -546px; }}
.icon-9{	background-position:8px -597px;  .quick-access &{ background-position: 0 -597px; }}
.icon-10{background-position:8px -694px; .quick-access &{ background-position: 0 -694px; }}
.icon-11{background-position:8px -643px; .quick-access &{ background-position: 0 -643px; }}
.icon-12{background-position:8px -742px; .quick-access &{ background-position: 0 -742px; }}
.icon-13{background-position:4px -789px; .quick-access &{ background-position: 0 -789px; }}
.icon-showcase{background-position: 8px -1281px; .quick-access &{ background-position: 0 -1281px; }}
.icon-search{font-weight: bold;}


.quick-access{
	.list-group-item.col-sm-2{
		cursor: pointer;
		@include transition(all, 0.3s, ease);
		&:hover{
			background-color: $brand-primary-x-light;

		}
	}
}

.widget-icons{
	@extend %sprite;
	width: 28px;
	height: 22px;
	display: inline-block;
	margin-right: 2px;
	cursor: pointer;
}

.widget-icon-group{
	position:absolute;
	right: 0;
	background: rgba(255,255,255,0.8);
	padding-left: 15px;
}

.widget-toolbar {
	margin-bottom: 10px;
	.circle{
		cursor: pointer;
		margin-left: 10px;
		height: 35px;
		width: 35px;
		position: relative;
		@include transition(background-color, 0.4s, ease);
		&:hover{
			background-color: darken($brand-primary, 10%);
		}
		.icon-plus, .icon-fast-forward, .icon-rewind{
			position: absolute;
			font-size: large;
			top: 7px;
			left: 8px;
		}
		.icon-fast-forward{
			left: 9px;
		}
	}
}

.widget-main-icons{
	list-style-type: none;
	li{
		cursor: pointer;
		margin-bottom: 20px;
		@extend %sprite;
		width: 50px;
		height: 45px;
		&.workspaces-icon{
			background-position: -9px -1143px;
		}
		&.mytasks-icon{
			background-position: -8px -1236px;
		}
		&.myapprovals-icon{
			background-position: -9px -1190px;
		}
		&.uploadfile-icon{
			background-position: -5px -791px;
		}
	}
}

.js-widget{
	@include filter(grayscale(1));
	@include single-transition(filter,0.3s,ease);
	@include transition-property(filter, -webkit-filter, -moz-filter);
	@include border-radius(5px);
	@extend %shadow;
	-webkit-backface-visibility: hidden;
	h4{
		color: black;
		a{
			color: black;
		}
	}
	&:hover{
		@include filter(grayscale(0));
	}
}

.sticky-widgets{
	.js-widget-column{
		right:0;
	}
}



.js-main-content {
	.media{
		padding: 20px;
		background-color: white;
		border-radius: 4px;
		@extend %shadow;
	}
}


.popover{
	border: 1px solid $brand-primary !important;
	//box-shadow: none;
	border: $brand-primary;
	&.left > .arrow{
		border-left-color: $brand-primary;
	}
	&.bottom > .arrow{
		border-bottom-color: $brand-primary;
	}
	&.top > .arrow{
		border-top-color: $brand-primary;
	}
	&.right > .arrow{
		border-top-color: $brand-primary;
	}
}

.tasks-icon-group{
	top: 10px;
}

.respond-button {
	@extend .tasks-icon-group;
	@extend .widget-icon-group;
	right: 10px;
}

.icon-participants{ background-position:-8px -889px; &:hover{ background-position: -68px -889px; }  }
.icon-newfiles{ background-position:-8px -863px; &:hover{ background-position: -68px -863px; } }
.icon-newcomments{ background-position:-8px -839px; &:hover{ background-position: -68px -839px; } }
.icon-moreactions{ background-position:-7px -908px; &:hover{ background-position: -68px -908px; } }
.icon-remove{ background-position:-7px -931px; &:hover{ background-position: -67px -931px; } }
.icon-fileupload{ background-position:-7px -954px; &:hover{ background-position: -67px -954px; } }
.icon-starttask{ background-position:-7px -1063px; &:hover{ background-position: -67px -1063px; } }
.icon-completetask{ background-position:-7px -1038px; &:hover{ background-position: -67px -1038px; } }
.icon-edittask{ background-position:-7px -1010px; &:hover{ background-position: -67px -1010px; } }
.icon-approvers{ background-position:-9px -1088px; &:hover{ background-position: -69px -1088px; } }
.icon-downloadshare{ background-position:-7px -1117px; &:hover{ background-position: -67px -1117px; } }

.icon-fast-forward, .icon-rewind {
	font-size: x-large;
}

.icon-move{
	font-size: larger;
	cursor: move;
	margin-right: 10px;
}

.icon-ellipsis{
	font-size:large;
	cursor: pointer;
}

.icon-circle-plus{
	cursor: pointer;
	font-size: large;
	margin-right: 10px;
}

.widget-button-group{
	max-height: 10px;
}

h3.list-group-item-heading,
.workspaces .list-group-item-heading,
.project-heading .list-group-item-heading,
.my-approvals .list-group-item-heading,
.my-tasks .list-group-item-heading {
	margin-bottom: 0;
}

.widget-heading-tab{
	color: white;
	background-color: $brand-primary;
	border: 1px solid $brand-primary;
	h3{
		color: white;
	}
}

.popover {
	border: none;
}

.popover-title{
	text-align: center;
	font-family: 'Expert-Sans-Regular', Arial, sans-serif;
	border-bottom: 1px solid $gray-lighter;
	border-bottom: 1px solid rgba($brand-secondary, 0.3);
}

.project-heading{
	font-family: 'Expert-Sans-Regular', Arial, sans-serif;
	border-left: 2px solid $brand-primary;
	background: $brand-primary-x-light;
	cursor: pointer;
	em{
	font-family: 'Expert-Sans-Regular', Arial, sans-serif;
	color: $gray;
	font-style: normal;
	}
}

.tour-center-start{
	position: absolute;
	top: 200px;
	left:50%;
}

.approval-images{
	cursor: pointer;
}

.center-images {
  display: table;
  margin: auto;
  margin-top: 10px;
  img{
  	margin-right: 3px;
  	&:last-child{
  		margin-right:0;
  	}
  }
}
.nav-tabs{
	margin-bottom: 15px;
}

.form-inline{
	.form-group{
		margin-left: 15px;
	}
}

.badge{
	.panel .list-group-item &{
		float: left;
		margin-right: 10px;
	}
	.panel-footer &{
		font-weight: normal
	}
}

.panel-heading{
	position:relative;
}

.share-image-border{
	border: 1px solid $gray-lighter;
	margin-bottom: 12px;
}

.link-unstyled{
	color: #333;
	&:hover{
		color: #333;
		text-decoration: none;
	}
}

.share-comment{
	width: 100%;
	border: none;
	outline: none;
	margin-bottom:10px;
}

.share-with{
	@extend .share-comment;
	padding-bottom: 10px;
	border-bottom: #eeeeee 1px solid;
}

.share-modal{
	.img-solo{
		width:100%;
	}
}


.share-file-preview{
	margin-bottom: 10px;
}

.share-relative{
	position: absolute;
	right: 5px;
	bottom: 4px;
}

.modal-header{
	background: $brand-primary;
	h4.modal-title{
		color: white;
	}
	.close{
		color: white;
		font-size: 20px;
		opacity: 1;
	}
}

.modal-footer{
	background: $brand-primary-x-light;
}

.text-left{
	text-align: left !important;
}

.brandzone-heading{
	margin-top: 0;
	margin-bottom: 20px;
}

.image-library-container{
	margin-top: 20px;
}

@import "brand-center";

.tour-backdrop{
	background-color: #002b3e;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

// For dragging into bar
#quick-access-sortable > li.col-xs-4.apps-dropdown-unique{
	width: auto !important;
	padding-left: 0;
	padding-right: 0;
	float: left;
	position: relative;
	display: block;
	.link-unstyled{
		padding-top:0;
		padding-bottom: 0;
	}
	.app-title{
		display: none;
	}

	.icon-1{	background-position:-104px -200px; }
	.icon-2{	background-position:-104px -247px; }
	.icon-3{	background-position:-104px -298px; }
	.icon-4{	background-position:-104px -349px; }
	.icon-5{	background-position:-104px -400px; }
	.icon-6{	background-position:-104px -448px; }
	.icon-7{	background-position:-104px -498px; }
	.icon-8{	background-position:-104px -546px; }
	.icon-9{	background-position:-104px -597px; }
	.icon-10{background-position:-104px -694px; }
	.icon-11{background-position:-104px -643px; }
	.icon-12{background-position:-104px -742px; }
	.icon-13{background-position:-104px -789px; }

}


.downloads{
	.media-body{
		padding-top: 5px;
	}
}

.featured{
	position: relative;
	.featured-label{
		position: absolute;
		padding: 3px 10px;
		background-color: $brand-primary;
		color: white;
	}
}

.infinite-scroll{
	height: 500px;
	overflow: scroll-y;
}

.more-news{
	&:hover{
		text-decoration: none;
	}
	.dropdown-more{
		margin: 15px auto;
		width: 25%;
	}
}

.jscroll-added{
	margin-top: 15px;
}

.circle{
	background-color: $brand-primary;
	padding: 5px 8px;
	display: inline-block;
	font-family: 'Expert-Sans-Regular', sans-serif;
	color: white;
	@include border-radius(50%);
}

.status{
	font-weight: bold;
	font-size: xx-large;
}

.shares-container{
	padding: 2px 15px 10px 15px;
}

.bz-tabs{
	text-decoration: none;
	list-style-type: none;
	font-size: larger;
	font-family: Expert-Sans-Regular, sans-serif;
	padding: 10px 0px;

	li{
		display: inline-block;
		margin-right: 10px;
	}
	a{
		@transition(color, 0.3s, ease);
		color: lighten($gray-light, 10%);

		&:hover{
			color: darken($gray-light, 20%);
			text-decoration: none;
		}
	}

	.active{
		a{
			color: black;
			font-family: Expert-Sans-Regular, sans-serif;
		}
	}
}