// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@font-face {
    font-family: "Expert-Sans-Regular";
    src: url("../fonts/expert-sans/font-eot/expertsans-regular-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-regular-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-regular-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-regular-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Expert-Sans-Regular-Italic";
    src: url("../fonts/expert-sans/font-eot/expertsans-regularitalic-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-regularitalic-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-regularitalic-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-regularitalic-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Expert-Sans-Light";
    src: url("../fonts/expert-sans/font-eot/expertsans-light-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-light-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-light-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-light-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Expert-Sans-Light-Italic";
    src: url("../fonts/expert-sans/font-eot/expertsans-lightitalic-webfont.eot");
    src: url("../fonts/expert-sans/font-eot/expertsans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/expert-sans/font-woff/expertsans-lightitalic-webfont.woff") format("woff"),
    url("../fonts/expert-sans/font-ttf/expertsans-lightitalic-webfont.ttf") format("truetype"),
    url("../fonts/expert-sans/font-svg/expertsans-lightitalic-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Custom CSS

.feather-icon{
	color: $brand-primary;
}

.feather-icon-inverse{
	color: white;
}

.icon-power{
	font-size: 1.3em;
}

.nav-icon{
	background:{
		repeat: no-repeat;
		image: url('../images/barclays-sprites.png');
	}
	width: 50px;
	height: 40px;
}

.fave-icon{
	&.icon-1{
		background-position: 5px -204px;
		&:hover{
			background-position: -56px -204px;
		}
	}
	&.icon-4{
		background-position: 5px -353px;
		&:hover{
			background-position: -56px -353px;
		}
	}
	&.icon-5{
		background-position: 4px -403px;
		&:hover{
			background-position: -57px -403px;
		}
	}
}

.fave-divider{
	border-left: 1px solid $gray-lighter;
}

.home-icon{
	background-position: 0 -106px;
	&:hover, .open &{
		background-position: -61px -106px;
	}
}

.myapps-icon {
	background-position: 0 -58px;
	&:hover, .open &{
		background-position: -61px -58px;
	}
}

.notifications-icon{
	background-position: 0 -8px;
	&:hover, .open &{
		background-position: -61px -8px;
	}
}

.user-icon{
	background-position: 0 -156px;
	&:hover, .open &{
		background-position: -61px -156px;
	}
}

.navbar-icon {
	padding-top: 7px !important;
	padding-bottom: 5px !important;
}

.apps-dropdown{
	width: 260px;
	li{
		padding: 5px 0 0 0;
		border: 1px solid transparent;
		&:hover{
			border: 1px solid $gray-lighter;
			border: 1px solid rgba($brand-primary, 0.3);
			cursor: pointer;
			@include transition(all, 0.3s);
		}
	}
}

.app-title{
	font-size: 12px;
}

.notifications-dropdown{
	width: 400px;
	.media{
		margin-top: 0;
		padding: 10px 10px 5px 5px;
		&:hover{
			@include transition(all, 0.2s);
			background: lighten($gray-lighter, 5%);
			cursor: pointer;
		}
	}
}

.notification-time{
	color: $gray-light;
	display: block;
}

.navbar-dropdown {
	padding: 0;
	.row {
		margin: 0;
	}
}

.dropdown-container{
	padding: 15px;
}

.dropdown-more{
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 5px;
	display: block;
	font-size: 12px;
	cursor: pointer;
	color: $brand-primary;
	@include transition(all, 0.3s);
	&:hover{
		background: #eee;
	}
}

.dropdown-top-link{
	border-bottom: 1px solid #ddd;
	color: $gray-light;
	font-size: 14px;
	text-transform: none;
}

.dropdown-bottom-link {
	border-top: 1px solid #ddd;
}

.app-icons{
	background-image: url('../images/barclays-sprites.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 50px;
	display: block;
}

.navbar-dropdown {
	margin-top: 5px !important;
}

// Dropdown arrows

.navbar-dropdown:after, .navbar-dropdown:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.navbar-dropdown:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

.apps-dropdown:after, .apps-dropdown:before{
	left: 85%;
}

.notifications-dropdown:after, .notifications-dropdown:before{
	left: 89.75%;
}

.user-dropdown:after, .user-dropdown:before{
	left: 75%;
}

.icon-1{	background-position:8px -200px;}
.icon-2{	background-position:8px -247px;}
.icon-3{	background-position:8px -298px;}
.icon-4{	background-position:8px -349px;}
.icon-5{	background-position:8px -400px;}
.icon-6{	background-position:8px -448px;}
.icon-7{	background-position:8px -498px;}
.icon-8{	background-position:8px -546px;}
.icon-9{	background-position:8px -597px;}
.icon-10{background-position:8px -694px;}
.icon-11{background-position:8px -643px;}
.icon-12{background-position:8px -744px;}
.icon-13{background-position:8px -790px;}