<div class="row">

            <div class="col-md-12">
            <h2 class="pull-left brandzone-heading">Image Library</h2>
            </div>
            <div class="col-md-2">
            <button class="btn btn-primary">View all</button>

            </div>
            <div class="col-md-4">
                <form class="form-inline pull-right">
                  <div class="form-group">
                    <label for="exampleInputName2">Filter By:</label>&nbsp;
                    <select class="form-control">
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                    </select>
                  </div>
                </form>
            </div>
            <div class="col-md-6">

                <div class="pull-right">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary">Batch download <span class="icon-download"></span></button>
                    <button class="btn btn-primary">Add to Basket <span class="icon-bag"></span></button>
                </div>
                <button class="btn btn-link btn-link-action"><span class="icon-share"></span></button>
                </div>
            </div>

        </div>
        <div class=" image-library-container">

        <div class="row">


                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image One
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-target="#shareModal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Two
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-target="#shareModal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Three
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-target="#shareModal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Four
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-target="#shareModal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        </div>

        <div class="row">


                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Five
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-target="#shareModal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Six
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Seven
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Eight
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-toggle="modal" data-image="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        </div>

        <div class="row">


                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Nine
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}1.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Ten
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}4.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Eleven
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}3.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 js_asset_container asset protectiongroup_Order.InProgress" id="yui-gen3">
                            <div class="thumbnail grid-thumbnail asset-grid" title="orange.jpg">

                                <div class="center-aspect">
                                    <div class="inner-square">
                                        <a href="">
                                            <img class="image-share" src="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg" alt="orange.jpg">
                                        </a>
                                    </div>
                                </div>

                               <!--  <div class="label-container">
                                    <span class="label label-order-in-progress protection_group"><span class="translated_text" rel="ProtectionGroup.Order.InProgress">Order in progress</span></span>

                                </div> -->
                                <div class="asset-checkbox-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="alt-checkbox fa-stack-1x js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                        <input id="select_34" name="assetId" type="checkbox" value="34" class="js_asset_selector js_asset_checkboxes cuke_orange.jpg">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <div class="asset-download-icon asset-icon">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="icon-download fa-stack-1x">
                                    </i>
                                    </span>
                                </div>
                                <a href="#"  class="asset-preview-icon asset-icon cuke_preview_asset asset_zoom asset-preview" title="Preview" data-toggle="modal" data-target="#preview-modal">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-search-plus fa-stack-1x"></i>
                                    </span>
                                </a>

                                <a class="btn btn-link text-left" href="">
                                    Image Twelve
                                </a>

                                <button type="button" class="btn btn-sm btn-link btn-link-action share-relative" data-image="images/{% if page.Barclaycard %}bc/{% endif %}2.jpg" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button>
                            </div>
                        </div>

                        </div>
            </div>