



        <div class="jumbotron jumbotron-photobg">

            <div class="row">

                <div class="col-sm-12">
                <h1 class="double-chevs">Welcome to your online brand toolbox</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam esse ea consectetur, non commodi, aliquam omnis maxime impedit distinctio nisi est nobis. Distinctio quidem dolores animi optio repellendus, voluptatum reprehenderit!</p>

<!--                 <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more</a> <button type="button" class="btn btn-link btn-link-action btn-lg tour-share" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button></p> -->
                </div>

            </div>

<!--             <div class="fake-carousel">
             <span class="icon-record"></span> <span class="icon-disc"></span> <span class="icon-record"></span>
            </div> -->

        </div>
        <div class="row">
            <div class="col-md-12 infinite-scroll">

                    <div class="row">
                            <div class="col-md-12 remove-padding">
                        <div class="col-sm-4 col-md-4">
                            <div class="clearfix panel news-image-bg image-news-2">
                                <div class="news-text-overlay">
                                  <h2 class="news-heading">Guidelines</h2>

                                  <span class="news-aside">Download our brand standards and toolkits</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                        <div class="clearfix panel news-image-bg image-news-3">
                            <div class="news-text-overlay">
                              <h2 class="news-heading">Assets</h2>

                              <span class="news-aside">Assets are available to download here</span>
                            </div>

                        </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                        <div class="clearfix panel news-image-bg image-news-3">
                            <div class="news-text-overlay">
                              <h2 class="news-heading">More</h2>

                              <span class="news-aside">Best practice examples and more</span>
                            </div>

                        </div>
                        </div>
                    </div>
                    </div>

            </div>
        </div>
