<div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#">Files shared with me</a></li>
                  <li role="presentation"><a href="#">Files I have shared</a></li>
                </ul>
                <button type="button" class="btn btn-link btn-link-action btn-lg pull-right share-new" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span> <span class="share-new-text">Share something new</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="exampleInputName2">Sort By:</label>&nbsp;
                    <select class="form-control">
                        <option>Age</option>
                        <option>Lorem</option>
                        <option>Ipsum</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail2">Filter:</label>&nbsp;
                    <input type="email" class="form-control" id="exampleInputEmail2">
                  </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Shared for Comment</h3>
                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> James Bond
                  </div>
                  <div class="panel-body">
                  <img src="images/share-p1.jpg" class="img-responsive" alt="">
                  </div>
                  <ul class="list-group">
                  <li class="card-group-item"><span class="badge bg-secondary">LW</span>Not sure about this, it's too transparent!</li>
                  <li class="card-group-item"><span class="badge">OB</span>I love it, it's a glass act</li>
                  <li class="card-group-item"><span class="badge bg-primary">DD</span> Let's reshoot this</li>
                  <li class="card-group-item">
                    <textarea class="form-control" placeholder="Add comment..."></textarea>
                  </li>
                  </ul>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Rickie Lake
                  </div>
                  <div class="panel-body">
                   <input class="form-control" type="text" value="http://www.urlgoeshere.com" readonly>
                  </div>
                  <ul class="list-group">
                  <li class="card-group-item">
                    <textarea class="form-control" placeholder="Add comment..."></textarea>
                  </li>
                  </ul>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Vadász László
                  </div>
                  <div class="panel-body">
                  <img src="images/share-p2.jpg" class="img-responsive" alt="">
                  </div>
                  <ul class="list-group">
                  <li class="card-group-item"><span class="badge">OB</span> This is great!</li>
                  <li class="card-group-item"><span class="badge bg-primary">BE</span> I concur, it's awesome</li>
                  <li class="card-group-item">
                    <textarea class="form-control" placeholder="Add comment..."></textarea>
                  </li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Shared for Download</h3>
                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Jackie Jones
                    <div class="pull-right">
                    <span class="card-icons icon-downloadshare"></span>
                    </div>
                  </div>
                  <div class="panel-body">
                    <img class="img-responsive" src="images/share-p3.jpg" alt="">
                  </div>
                  <div class="panel-footer">Shared 1 day ago <span class="badge pull-right bg-primary">2 downloads</span></div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Rumi Borova
                    <div class="pull-right">
                    <span class="card-icons icon-downloadshare"></span>
                    </div>
                  </div>
                  <div class="panel-body">
                    <img class="img-responsive" src="images/share-p4.jpg" alt="">
                  </div>
                  <div class="panel-footer">Shared 3 days ago <span class="badge pull-right bg-primary">9 downloads</span></div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Charlie Chaplin
                    <div class="pull-right">
                    <span class="card-icons icon-downloadshare"></span>
                    </div>
                  </div>
                  <div class="panel-body">
                    <img class="img-responsive" src="images/share-p5.jpg" alt="">
                  </div>
                  <div class="panel-footer">Shared 13 days ago <span class="badge pull-right bg-primary">49 downloads</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Shared for Approval</h3>
                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Minnie Mouse
                  </div>
                  <div class="panel-body">
                    <img class="img-responsive" src="images/share-p6.jpg" alt="">
                  </div>
                  <div class="panel-footer">
                   <a class="btn btn-primary"> Approve file &nbsp;<span class="feather-inverse icon-circle-check"></span></a>
                   <a class="btn btn-danger"> Reject file &nbsp;<span class="feather-inverse icon-circle-cross"></span></a>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <strong>Shared by:</strong> Belle Sebastian
                  </div>
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6"><img src="images/ttf.jpg" class="img-responsive share-image-border" alt=""></div>
                    <div class="col-md-6"><img src="images/otf.jpg" class="img-responsive share-image-border" alt=""></div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"><img src="images/a.jpg" class="img-responsive share-image-border" alt=""></div>
                    <div class="col-md-6"><img src="images/ttf.jpg" class="img-responsive share-image-border" alt=""></div>
                  </div>
                  </div>
                  <div class="panel-footer">
                   <a class="btn btn-primary"> Approve files &nbsp;<span class="feather-inverse icon-circle-check"></span></a>
                   <a class="btn btn-danger"> Reject files &nbsp;<span class="feather-inverse icon-circle-cross"></span></a>
                  </div>
                </div>
            </div>
        </div>