<div class="building-blocks-homepage">
    <div class="col-md-12">
        <h1 class="double-chevs">Welcome to your online brand toolbox</h1>
    </div>
    <div class="col-md-4">
        <div class="building-block">
          <h2 class="building-block-h2">Guidelines</h2>
          <span class="building-block-description">Download our brand standards and toolkits</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="building-block">
          <h2 class="building-block-h2">Assets</h2>
          <span class="building-block-description">Assets are available to download here</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="building-block">
          <h2 class="building-block-h2">More</h2>
          <span class="building-block-description">Best practice examples and more</span>
        </div>
    </div>
</div>

