<!-- FIRST NAV BAR -->

<nav class="navbar navbar-default navbar-global">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-left site-switcher" >
        <a class="site-switcher-links {% if page.Barclays %}current{% endif %}" href="/">Barclays</a>
        <a class="site-switcher-links {% if page.Barclaycard %}current{% endif %}" href="index-bc-alt.html">Barclaycard</a>
        <a class="site-switcher-links {% if page.Absa %}current{% endif %}" href="index-absa.html">Absa</a>
        <a class="site-switcher-links" href="#">PCB</a>
      </div>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right connectedSortable">
    <li class="dropdown">
             <a href="#" class="dropdown-toggle global-navbar-icon" data-toggle="dropdown">
             <span class="notifications-icon nav-icon global-nav-icon center-block"></span>
             <span class="sr-only">Notifications</span></a>
             <div class="arrow"></div>
              <ul class="dropdown-menu notifications-dropdown navbar-dropdown">
                    <div class="block-utility-link-top block-utility-link text-center"><span class="icon-cog feather-icon"></span> Notification Settings</div>
                        <div class="row">
                            <div class="media">
                        <div class="media-left">
                            <span class="app-icons icon-4"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Your task ‘Proof-read Campaign Poster’ is due today</h4>
                            <span class="card-group-item-byline">2 hours ago</span>
                        </div>
                    </div>
                            <div class="media">
                        <div class="media-left">
                            <span class="app-icons icon-13"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Joe Bloggs has uploaded a new image</h4>
                            <span class="card-group-item-byline">6 hours ago</span>
                        </div>
                    </div>
                            <div class="media">
                        <div class="media-left">
                            <span class="app-icons icon-2"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Jane Doe has shared a report</h4>
                            <span class="card-group-item-byline">1 day ago</span>
                        </div>
                    </div>
                            <div class="media">
                        <div class="media-left">
                            <span class="app-icons icon-3"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">There is a new post on the blogosphere</h4>
                            <span class="card-group-item-byline">2 days ago</span>
                        </div>
                    </div>
                        </div>
                        <div class="block-utility-link-bottom block-utility-link text-center">View All</div>
        </ul>
    </li>

    <li class="dropdown">
             <a href="#" class="dropdown-toggle global-navbar-icon" data-toggle="dropdown">
             <span class="user-icon nav-icon global-nav-icon center-block"></span>
              <span class="sr-only">John Doe</span></a>
                 <ul class="dropdown-menu navbar-dropdown user-dropdown">
            <li><a href="#">My Profile</a></li>
                <li><a href="#">Help</a></li>
                <li><a class="js-start-tour" href="#">Start tour</a></li>
                <li><a href="#">Language</a></li>
                        <div class="block-utility-link block-utility-link-bottom text-center"><span class="icon-power"></span> Sign out</div>
        </ul>
    </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>