

        <div class="jumbotron jumbotron-photobg">

        <h2 class="spotlight-text"><span class="icon-heart"></span> In the Spotlight</h2>

            <div class="row">

                <div class="col-md-8 white-hero">
                <h1>News from Barclays</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam esse ea consectetur, non commodi, aliquam omnis maxime impedit distinctio nisi est nobis. Distinctio quidem dolores animi optio repellendus, voluptatum reprehenderit!</p>

                <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more</a> <button type="button" class="btn btn-link btn-link-action btn-lg tour-share" data-toggle="modal" data-target="#shareModal"><span class="icon-share"></span></button></p>
                </div>

            </div>

            <div class="fake-carousel">
             <span class="icon-record"></span> <span class="icon-disc"></span> <span class="icon-record"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 infinite-scroll">

                  <div class="clearfix panel fat-news">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-image-thumbnail">
                          <a class="news-thumbnail-long image-media-1" href="#"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-text-content">
                          <h2 class="news-heading">LifeSkills - Helping young people bridge the gap from school to work</h2>

                          <p class="news-lead">Necessitatibus reprehenderit laborum nobis totam libero numquam accusantium quo quibusdam ipsum sed aliquid corporis explicabo Lorem ipsum dolor sit amet</p>

                          <span class="news-aside">BigDog Agency // <span>29/11/15</span></span>
                        </div>
                    <span class="icon-globe news-cat"></span>
                    </div>

                    <div class="row">
                            <div class="col-md-12 remove-padding">
                        <div class="col-sm-6 col-md-6">
                            <div class="clearfix panel news-image-bg image-media-2">
                                <div class="news-text-overlay">
                                  <h2 class="news-heading">Showcase Nominations announced</h2>

                                  <span class="news-aside">Barclays // <span>28/11/15</span></span>
                                </div>
                            <span class="icon-star news-cat"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                        <div class="clearfix panel news-image-bg image-media-3">
                            <div class="news-text-overlay">
                              <h2 class="news-heading">New Stock Photos Released</h2>

                              <span class="news-aside">Barclays Brand // <span>24/11/15</span></span>
                            </div>
                            <span class="icon-image news-cat"></span>
                        </div>
                        </div>
                    </div>
                    </div>


                    <div class="clearfix panel fat-news">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-image-thumbnail">
                          <a class="news-thumbnail-long image-media-4" href="#"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-text-content">
                          <h2 class="media-heading">Barclays wants to help blockchain startups understand investment banking requirements</h2>

                          <p class="news-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, reiciendis. Non totam sequi eius.</p>

                          <span class="news-aside">Wealth & Investment // <span>22/11/15</span></span>
                        </div>
                        <span class="icon-globe news-cat"></span>
                    </div>

                    <div class="row">
                            <div class="col-md-12">
                        <div class="clearfix panel news-image-bg image-media-5">
                            <div class="news-text-overlay">
                              <h2 class="news-heading">Brand Training now Live</h2>

                              <span class="news-aside">Barclays Brand // <span>20/11/15</span></span>
                            </div>
                    <span class="play"></span>
                        <span class="icon-video news-cat"></span>
                        </div>
                    </div>
                    </div>



                     <a class="more-news" href="more-news.html">
                     <span class="list-group-item dropdown-more dropdown-bottom-link text-center">View More News</span>
                     </a>

            </div>
        </div>