<div class="widget-toolbar clearfix">
<h2 class="pull-left widget-column--heading">My Dashboard</h2>
  <div class="pull-right" >
    <div class="circles-container">
      <div class="circle js-ellipsis main-ellipsis">
        <span class="icon-ellipsis"></span>
      </div>
      <div class="inverse-circle fast-forward-anim js-close-widgets">
        <span class="icon-fast-forward"></span>
      </div>
      <div class="inverse-circle add-anim">
        <span class="icon-plus" data-toggle="modal" data-target="#widgetModal"></span>
      </div>
    </div>
  </div>

</div>

<div class="clearfix pull-right js-widget-icons">
    <ul class="widget-main-icons">
        <li class="workspaces-icon" data-trigger="hover" data-toggle="popover" data-html="true" data-placement="left"
            data-content="Workspaces"></li>
        <li class="mytasks-icon" data-trigger="hover" data-toggle="popover" data-html="true" data-placement="left"
            data-content="My Tasks"></li>
        <li class="myapprovals-icon" data-trigger="hover" data-toggle="popover" data-html="true" data-placement="left"
            data-content="My Approvals"></li>
        <li class="uploadfile-icon" data-trigger="hover" data-toggle="popover" data-html="true" data-placement="left"
            data-content="Quick uploader"></li>
    </ul>
</div>

<ul class="list-group my-shares js-widget">
    <li class="list-group-item widget-heading-tab  clearfix workspace-hook">
        <h3 class="list-group-item-heading pull-left">My Shares</h3>
        <div class="pull-right widget-button-group">
            <span class="icon-ellipsis rotate90 pull-right dropdown-toggle" data-toggle="dropdown"></span>
            <ul class="dropdown-menu widget-dropdown">
                <li><a class="js-remove-widget" href="#"><span class="text-danger">Remove Widget</span></a></li>
            </ul>
            <span class="icon-move pull-right"></span>
        </div>
    </li>

    <li class="list-group-item">


        <!-- Nav tabs -->
        <ul class="bz-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#received" aria-controls="received" role="tab"
                                                      data-toggle="tab">Files Received</a></li>
            <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab">Files Sent</a>
            </li>
        </ul>
        </li>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="received">

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File One</a></h4>
                                <span class="time-aside">Sent by <span>Laura Wellard</span></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-4.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Two</a></h4>
                                <span class="time-aside">Sent by <span>James Brown</span></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-3.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Three</a></h4>
                                <span class="time-aside">Sent by <span>Jason Martin</span></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-2.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Four</a></h4>
                                <span class="time-aside">Sent by <span>Olly Banham</span></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-5.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Five</a></h4>
                                <span class="time-aside">Sent by <span>Rosie Smith</span></span>
                            </div>
                        </div>
                    </li>

            </div>

            <div role="tabpanel" class="tab-pane" id="sent">

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-5.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Six</a></h4>
                                <span class="time-aside">Sent to <span class="badge">LW</span> <span
                                        class="badge">BD</span></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-3.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Seven</a></h4>
                                <span class="time-aside">Sent to <span class="badge">GG</span> <span
                                        class="badge">DH</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-2.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Eight</a></h4>
                                <span class="time-aside">Sent to <span class="badge">VD</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb-4.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Nine</a></h4>
                                <span class="time-aside">Sent to <span class="badge">KL</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="images/order-thumb.jpg">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="list-group-item-heading pull-left"><a href="#">File Ten</a></h4>
                                <span class="time-aside">Sent to <span class="badge">NB</span> <span
                                        class="badge">EL</span> <span class="badge">JG</span></span>
                            </div>
                        </div>
                    </li>

            </div>

        </div>
    </li>
</ul>


<ul class="list-group downloads js-widget">
  <li class="list-group-item widget-heading-tab  clearfix workspace-hook">
    <h3 class="list-group-item-heading pull-left">My Recent Downloads</h3>
    <div class="pull-right widget-button-group">
    <span class="icon-ellipsis rotate90 pull-right dropdown-toggle" data-toggle="dropdown"></span>
             <ul class="dropdown-menu widget-dropdown">
                <li><a class="js-remove-widget"  href="#"><span class="text-danger">Remove Widget</span></a></li>
              </ul>
        <span class="icon-move pull-right"></span>
    </div>
  </li>
  <div class="js-minimize">
  <li class="list-group-item clearfix">
      <div class="media">
          <div class="media-left">
              <a href="#">
                  <img src="images/{% if page.Barclaycard %}bc/{% endif %}{% if page.Absa %}abs/{% endif %}download-thumb.jpg">
              </a>
          </div>
          <div class="media-body">
              <h4 class="list-group-item-heading pull-left"><a href="#">{{page.downloads-file-one}}</a></h4>
              <span class="time-aside">Downloaded on 08/12/15</span>
              <div class="list-group-item-button-bar">
                  <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
                  <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
              </div>
          </div>
      </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left">
      <a href="#">
      <img src="images/{% if page.Barclaycard %}bc/{% endif %}download-thumb-xls.jpg">
      </a>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{page.downloads-file-two}}</a></h4>
      <span class="time-aside">Downloaded on 09/12/15</span>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left">
      <a href="#">
      <img src="images/{% if page.Barclaycard %}bc/{% endif %}download-thumb-brand.jpg">
      </a>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{page.downloads-file-three}}</a></h4>
      <span class="time-aside">Downloaded on 11/12/15</span>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left">
      <a href="#">
      <img src="images/{% if page.Barclaycard %}bc/{% endif %}download-thumb-ppt.jpg">
      </a>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{page.downloads-file-four}}</a></h4>
      <span class="time-aside">Downloaded on 14/12/15</span>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left">
      <a href="#">
      <img src="images/{% if page.Barclaycard %}bc/{% endif %}{% if page.Absa %}abs/{% endif %}download-thumb-fonts.jpg">
      </a>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{page.downloads-file-five}}</a></h4>
      <span class="time-aside">Downloaded on 16/12/15</span>
      </div>
  </div>
  </li>
  <span class="list-group-item dropdown-more dropdown-bottom-link text-center">View More</span>
</ul>

<ul class="list-group baskets js-widget">
  <li class="list-group-item widget-heading-tab clearfix workspace-hook">
    <h3 class="list-group-item-heading pull-left">My Baskets</h3>
    <div class="pull-right widget-button-group">
    <span class="icon-ellipsis rotate90 pull-right dropdown-toggle" data-toggle="dropdown"></span>
             <ul class="dropdown-menu widget-dropdown">
                 <li><a class="js-remove-widget"  href="#"><span class="text-danger">Remove Widget</span></a></li>
             </ul>
    <span class="icon-move pull-right"></span>
    </div>
  </li>
  <div class="js-minimize">
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left media-middle">
      <span class="circle">11</span>
      </div>
      <div class="media-body">
         <h4 class="list-group-item-heading pull-left"><a href="#">{{ page.baskets-one }}</a></h4>
         <div class="list-group-item-button-bar">
         <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
         <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
         </div>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left media-middle">
      <span class="circle">07</span>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{ page.baskets-two }}</a></h4>
        <div class="list-group-item-button-bar">
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
        </div>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left media-middle">
      <span class="circle">22</span>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{ page.baskets-three }}</a></h4>
        <div class="list-group-item-button-bar">
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
        </div>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left media-middle">
      <span class="circle">04</span>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{ page.baskets-four }}</a></h4>
        <div class="list-group-item-button-bar">
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
        </div>
      </div>
  </div>
  </li>
  <li class="list-group-item clearfix">
  <div class="media">
      <div class="media-left media-middle">
      <span class="circle">13</span>
      </div>
      <div class="media-body">
      <h4 class="list-group-item-heading pull-left"><a href="#">{{ page.baskets-five }}</a></h4>
        <div class="list-group-item-button-bar">
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-mail"></span></a>
        <a class="btn btn-link btn-link-action" href="#"><span class="icon-download"></span></a>
        </div>
      </div>
  </div>
  </li>
  <span class="list-group-item dropdown-more dropdown-bottom-link text-center">View More</span>
  </div>
</ul>