<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>

<body class="bc-home">

{% include nav-global.html %}

{% include nav-local.html  %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-8 js-main-content">

        {% include content-barclaycard-homepage.html %}

        </div>

        <div class="col-md-4 sortable js-widget-column">

        {% include widget-column.html %}

        </div>

    </div>

</div>

<script src="javascripts/main.js"></script>
<script>

   var jumbotron = $('.jumbotron');
   var count = 0;
   var images = ["images/bc/slider-image-1.jpg","images/bc/slider-image-2.jpg","images/bc/slider-image-3.jpg", "images/bc/slider-image-4.jpg", "images/bc/slider-image-5.jpg", "images/bc/slider-image-6.jpg"];
   jumbotron.css("background-image", "url(" + images[count++] + ")")

   setInterval(function(){
       jumbotron.fadeOut(200, function(){
           jumbotron.css("background-image", "url(" + images[count++] + ")");
           jumbotron.fadeIn(200);
       })
       if (count === images.length) {
           count = 0;
       }
   },5000);



</script>

{% include modals.html %}

</body>

</html>